a:link{
    color: gray;
    text-decoration: none;
}

a:visited{
    color: gray;
    text-decoration: none;
}

a:hover{
    color: gray;
    text-decoration: none;
}

body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #F2F2F2;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    overflow-y: auto;
}

aside{
    width: 325px;
    height: 100%;
    position: fixed;
    background-image: url("../assets/image/aside_background.jpg");
    color: white;
    overflow: hidden;
    float: left;
}

.aside_profile{
    position: relative;
    width: 305px;
    height: 300px;
    margin: 10px;
    text-align: center;
    border: 5px green;
}

.aside_profile_image{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    margin-top: 20px;
}

.aside_category{
    position: relative;
    width: 305px;
    height: 100%;
    margin-left: 10px;
    padding-left: 10px;
}

section{
    width: 800px;
    margin-left: 325px;
    padding-left: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.card{
    position: relative;
    width: 700px;
    height: 500px;
    background: #FAFAFA;
    margin-bottom: 50px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px gray;
}

.card_image{
    width: 700px;
    height: 300px;
    border-radius: 5px;
}

.card_content_div{
    width: 700px;
    height: 200px;
}

.card_title{
    margin-left: 7px;
}

.card_content{
    margin-left: 7px;
    margin-right: 7px;
}
