a{ text-decoration: none; }

body{
    padding: 0;
    margin: 0;
    background-color: #f7f7f7;
    font-family: "NanumGothic";
}

aside{
    width: 325px;
    height: 100%;
    position: fixed;
    background-image: url("/aside_background.png");
    background-size: 325px 100%;
}

section{
    width: 900px;
    margin-left: 325px;
    padding-top: 20px;
    padding-bottom: 50px;
}

.aside-profile{
    width: 100%;
    height: 300px;
    text-align: center;
    color: white;
}

.aside-profile-image{
    width: 140px;
    height: 140px;
    position: relative;
    margin-top: 30px;
    border-radius: 50%;
}

.aside-menu{
    margin-left: 25px;
}

.aside-menu-title{
    font-size: 25px;
    font-weight: bold;
    color: white;
}

a.category-link{
    margin-left: 5px;
    font-weight: 500;
    color: white;
    padding-left: 15px;
    border-left: 3px solid white;
}

a:hover.category-link{
    text-decoration: underline;
}

a:active.category-link{
    text-decoration: underline;
}

.section-post-div{
    margin-left: 50px;
}

.section-title{
    margin-left: 100px;
    margin-bottom: 30px;
    color: #696868;
}

.card{
    width: 700px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    line-height: 150%;
}

.card-a{
    width: 700px;
    height: 300px;
}

.card-image{
    border-radius: 5px;
}

.card-date-category{
    margin-top: 20px;
    margin-left: 10px;
    font-size: 13px;
    color: gray;
}

.card-title{
    font-size: 33px;
    font-weight: bold;
    margin-left: 5px;
    color: black;
}

.post-title{
    font-size: 35px;
    font-weight: bold;
}

.post-subtitle{
    font-size: 25px;
    font-weight: bold;
}

.post-image{
    display: block;
    margin: 0px auto;
}

.post-image-discription{
    text-align: center;
    color: #6E6E6E;
}

/*반응형 웹 사이트를 만들기 위한 쿼리*/
@media (max-width:1225px) {
    aside{
        width: 100%;
        height: 70px;
        background-image: none;
        z-index: 1;
    }

    .aside-profile, .aside-menu{
        display: none;
    }

    section{
        width: 80%;
        margin: 0 auto;
        padding-top: 70px;
        padding-left: 0px;
    }
    
    .section-title{
        margin-left: 5%;
    }

    .card{
        width: 90%;
    }

    .card-image{
        width: 100%;
    }

    .post-image{
        width: 100%;
    }
}
